body{
    margin: 0;
}

div.container a:first-child{
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #eee;
    text-shadow: 1px 1px 1px black;
}

#layer1{
    height:45px;
    width:350px;
    background:-webkit-linear-gradient(#ffa3a4,#fc5a8d);
    border-radius:5px;
}

#layer2{
    height:45px;
    width:350px;
    background:-webkit-linear-gradient(#5f002f,#3f000f);
    border-radius:5px;
}

#candle{
    height:150px;
    width:50px;
    background:-webkit-linear-gradient(left,deeppink,red,deeppink);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.cherry{
    height:50px;
    width:50px;
    background:-webkit-radial-gradient(orange,red);
    margin-left:-250px;
    /* border-radius:50%; */
    border-top-left-radius: 41%;
    border-top-right-radius: 41%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top:-50px;
}

.right{
    margin-left:250px;
}

#wick{
    height:20px;
    width:5px;
    background:#3f000f;
}

#flame{
    background:white;
    height:50px;
    width:10px;
    border-radius:10px;
    margin-top:70px;
    box-shadow:0 0 9px 5px white, 0 -30px 9px 10px yellow, 0 -5px 18px 10px orange;
    animation:move 3s linear infinite ;
    transform-origin:bottom;
    display:inline-block ;
}

@keyframes move{
    from{transform:rotate(-5deg);}
    50%{transform:rotate(5deg);}
    to{transform:rotate(-5deg);}
}

button{
    font-size:30px;
    background:maroon;
    color:white;
    border:none;
    box-shadow:0 0 2px 5px orange, 0 0 2px 10px red, 0 0 2px 15px blue;
    outline:none;
    font-family:times new roman;
}

/* body.box{
    display: flex;
    background:#ffbf00;
    width:400px;
    box-shadow:0 0 9px 0 #333;
    border-radius:14px;
    font-family:ubuntu;
    font-size:30px;
    color:white;
    text-shadow:0 0 9px white;
    padding-top:25px;
    padding-bottom:20px;
} */

/* .box .gallery{
    width: 150px;
    height: 150px;
    background-color: #3f000f;
} */

.container h1{
    color:red;
    font-family:great vibes;
    margin-top:10px;
    /* display:inline-block ; */
    font: 20px/44px;
}

#loaded{
    background:yellow;
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
}